html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    list-style: none;
}

hr {
    margin: 0;
    padding: 0;
    border: 0;
    border-top: 1px solid rgb(192, 192, 192);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

:root {
    --paleta1: #1a1e29;
    --paleta2: #132d46;
    --paleta3: #29d38d;
    --paleta4: #Ffffff;
    --paleta5: #f8f8f0;
    --paleta6: #E4E5E6;
}

h1 {
    color: var(--paleta1);
    font-size: 100px;
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
}

h2 {
    color: var(--paleta3);
    font-size: 40px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/*! =================================================*/
/*! =================== NAV ================== */
/*! =================================================*/
header {
    width: 100%;
    margin: 0 auto;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.conteiner-one{
    height: 100vh;
    background: #00416A;
    background: -webkit-linear-gradient(to bottom, #29d38d,#Ffffff, #Ffffff, #Ffffff, #Ffffff, #Ffffff, #Ffffff);
    background: linear-gradient(to bottom, #29d38d,#Ffffff, #Ffffff, #Ffffff, #Ffffff, #Ffffff, #Ffffff);
}
.nav-menu {
    width: 100%;
    max-width: 90%;
    min-width: 90px;
    margin: 10px auto;
    height: 80px;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: rgba(194, 189, 189, .2);
    backdrop-filter: blur(10px);
    border-radius: 40px;
    border: solid 1px var(--paleta1);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.conteiner-menu-icon {
    text-align: right;
}

.menu-icon {
    line-height: 70px;
    cursor: pointer;
    color: var(--paleta1);
    font-size: 30px;
    display: none;
    opacity: 0;
}

nav>a {
    height: 55px;
}

nav>a>img {
    height: 100%;
    transition: 0.3s all;

}

nav>a>img:hover {
    transform: scale(1.2);
}

.nav-ul {
    display: flex;
}

nav>ul>li {
    margin-left: 25px;
    font-size: 18px;
}

.link {
    position: relative;
    color: black;
    text-decoration: none;
    font-family: 'Urbanist', sans-serif;
    cursor: pointer;
    transition: all 0.5s ease;
    padding: 10px 10px;
}

.link::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: 0;
    background-color: var(--paleta1);
    left: 50%;
    transition: 0.3s ease-in-out;
    transform: translateX(-50%) scaleX(1);
}

.link:hover::after {
    width: 100%;
}

@media (max-width: 960px) {
    .menu-icon {
        display: block;
        opacity: 1;
    }

    .nav-menu {
        padding: 0 40px;
        height: 70px;
    }

    .nav-ul {
        flex-direction: column;
        align-items: center;
        top: 75px;
        position: fixed;
        width: 100%;
        margin: 0;
        left: 0;
        height: auto;
        padding: 50px 0;
        left: 150%;
        transition: left 0.3;
        border-radius: 30px;
        background-color: var(--paleta1);
        backdrop-filter: blur(10px);
    }

    .nav-ul>li {
        padding: 20px 0;
        font-size: 20px;
    }
    .link{
        color: var(--paleta6);
    }
    .link:hover{
        color: #Ffffff;
    }
    .nav-menu-visible {
        transition: left 0.3;
        left: 0;
    }

    .nav-despliegue {
        background-color: #f8f8f0;
        transition: all 0.3;
    }
}

/*! =================================================*/
/*! =================== SECTION ================== */
/*! =================================================*/
section {
    width: 100%;
    margin-top: 0 auto;
}

.contenedor-welcome {
    display: grid;
    max-width: 90%;
    grid-template-columns: 30% 60%;
    margin: 110px auto 0;
    height: calc(100vh - 250px);
    place-content: center;
    gap: 30px;
}

.welcome-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-img>img {
    width: 80%;
    filter: drop-shadow(5px 4px 6px rgba(0, 0, 0, 0.932));
    border-radius: 50%;

}

.welcome-wave {
    width: 100%;
    bottom: 0;
    margin: 0;
    position: absolute;
}

.welcome-wave>img {
    width: 100%;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-text>p {
    color: var(--paleta1);
    font-family: 'Urbanist', sans-serif;
    font-size: 23px;
    margin: 0;
    padding-right: 70px;
    line-height: 1.4;
}
.welcome-text >h2{
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 10ch;
    animation: typing 2s steps(50), blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing{
    from {width: 0}
}
@keyframes blink{
    50% {border-color:  transparent}
}
@media (max-width: 570px) {
    .welcome-text {
        text-align: center;
    }

    .welcome-text>p {
        padding: 0;
    }

    .welcome-text>h2 {
        font-size: 30px;
    }

    .welcome-text>h1 {
        font-size: 40px;
    }

    .welcome-img {
        max-width: 300px;
    }

}

.conteiner-two{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
}
.conteiner-two > i{
    margin: 0;
    font-size: 50px;
    color: var(--paleta1);
    transition: transform 0.3s;
    cursor: pointer;
}

@keyframes bounceAnimation {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(40px);
    }
  }
  
  .conteiner-two > i {
    animation: bounceAnimation 4s infinite;
  }
  
/*! =================================================*/
/*! =================== ABOUT ================== */
/*! =================================================*/
.contenedor-about {
    width: 100%;
    background-color: #Ffffff;
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/as2.svg);
    background-position: right;
    background-repeat: no-repeat;
}

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.about-text {
    width: 40%;
    padding-right: 25px;
}

.about-text>h2 {
    color: var(--paleta2);
}

.about-text>p {
    color: var(--paleta2);
    font-family: 'Urbanist', sans-serif;
    font-size: 18px;
    margin-top: 15px;
    line-height: 1.4;
}

.about-img {
    width: 40%;
}

.about-img>img {
    width: 100%;
}

.about-button-cv {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.button-1 {
    background-color: var(--paleta3);
    width: 210px;
    height: 60px;
    cursor: pointer;
    border-radius: 60px;
    border: none;
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    position: relative;
    transition: 0.3s ease-in-out;
}

.button-1:active {
    transform: scale(0.9);
}

.button-1:hover {
    background-color: #02a87c;
}

/*! =================================================*/
/*! =================== SKILLS ================== */
/*! =================================================*/
.contenedor-skills {
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    align-items: center;
    justify-content: center;
    margin: 20px auto 20px auto;
    min-width: 100px;

    height: calc(100vh - 200px);
    width: 70%;
    border-bottom: 0;
    border-top: 0;
    border-radius: 30px 30px 30px 30px;
    background-image: url(img/as.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(100px);
    /* Agrega el efecto de desenfoque */
}


.contenedor-skills>h2 {
    color: var(--paleta1);
}

.skills-img {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 0;
    justify-content: center;
}

.img {
    width: 20%;
    position: relative;
}

.img>img {
    width: 100%;
    transition: transform 0.4s;
    cursor: pointer;
}

.img>span {
    position: absolute;
    color: var(--paleta4);
    background-color: var(--paleta1);
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 7px;
    transition: opacity 0.6s ease;
    opacity: 0;
    font-family: 'Encode Sans', sans-serif;
    font-size: 13px;
}

.img>span::after {
    content: "";
    position: absolute;
    left: 50%;
    top: -70%;
    transform: translateX(-50%);
    border: 15px solid;
    border-color: #e40a0a00 #e40a0a00 var(--paleta1) #00000000;
}

.img>img:hover {
    transform: translate(0px, -22px);
}

.img:hover>span {
    opacity: 1;
}