html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    list-style: none;
    
    text-decoration: none;
}

hr {
    margin: 0;
    padding: 0;
    border: 0;
    border-top: 1px solid rgb(192, 192, 192);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

:root {
    --paleta1: #1a1e29;
    --paleta2: #132d46;
    --paleta3: #FE4019;
    --paleta4: #Ffffff;
    --paleta5: #36373C;
}

h1 {
    color: var(--paleta1);
    font-size: 100px;
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
}

h2 {
    color: var(--paleta3);
    font-size: 40px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/*! =================================================*/
/*! =================== NAV ================== */
/*! =================================================*/
.conteiner-one {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-menu {
    width: 100%;
    max-width: 90%;
    min-width: 90px;
    margin: 10px auto;
    height: 75px;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    border-radius: 20px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(4px);
    background-color: rgba(47, 47, 47, .5);
    box-shadow: 0 3px 15px 3px rgba(0,0,0,.15);
}

.menu-icon {
    cursor: pointer;
    color: var(--paleta1);
    font-size: 25px;
    display: none;
    opacity: 0;
}

nav>a {
    height: 55px;
}

nav>a>img {
    height: 100%;
    transition: 0.3s all;
}

.logo:hover img {
    transform: matrix(0,1,1,0,0,0);
}

.nav-ul {
    display: flex;
}

nav>ul>li {
    margin-left: 25px;
    font-size: 18px;
}

.link {
    position: relative;
    color: var(--paleta4);
    font-family: 'Urbanist', sans-serif;
    cursor: pointer;
    transition: all 0.5s ease;
    padding: 10px 10px;
}

.link::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: 0;
    background-color: var(--paleta1);
    left: 50%;
    transition: 0.3s linear;
    transform: translateX(-50%) scaleX(1);
}

.link:hover::after {
    width: 100%;
}

@media (max-width: 960px) {
    .menu-icon {
        display: block;
        opacity: 1;
    }
    .menu-icon:active{
        transition: .1s ease;
        transform: rotate(90deg);
    }

    .nav-menu {
        padding: 0 40px;
        height: 70px;
    }

    .nav-ul {
        flex-direction: column;
        align-items: center;
        top: 75px;
        position: fixed;
        width: 100%;
        margin: 0;
        left: 0;
        height: auto;
        padding: 30px 0;
        left: -110%;
        transition: left 0.8s;
        border-radius: 30px;
        background-color: var(--paleta1);
    }

    .nav-ul>li {
        padding: 10px 0;
        font-size: 20px;
        margin: 0;
    }

    .nav-menu-visible {
        left: 0;
    }

    .nav-despliegue {
        background-color: #f8f8f0;
        transition: all 0.3;
    }
}





/*! =================================================*/
/*! =================== SECTION ================== */
/*! =================================================*/
section {
    width: 100%;
    margin-top: 0 auto;
}
.contenedor-welcome {
    object-fit: fill;
    display: grid;
    max-width: 90%;
    grid-template-columns: 30% 55%;
    margin: 110px auto 0;
    height: 400px;
    place-content: center;
    gap: 30px;
    overflow: hidden;
}

.welcome-img {
    max-width: 100%;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.welcome-img>img {
    width: 100%;
    height: 100%;
    filter: drop-shadow(5px 4px 6px rgba(0, 0, 0, 0.932));
    border-radius: 50%;
    object-fit: cover;
    min-height: 100px;
    max-width: 295px;
    display: block;
}

.welcome-text {
    display: grid;
    flex-direction: column;
    max-width: 667px;
    min-width: 200px;
    height: auto;
}

.welcome-text>p {
    color: var(--paleta1);
    font-family: 'Urbanist', sans-serif;
    font-size: 23px;
    margin: 0;
    line-height: 1.4;
}

.welcome-text>h2 {
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 10ch;
    animation: typing 2s steps(50), blink .5s infinite step-end alternate;
    overflow: hidden;
}
.welcome-text>h1 {
    display: block;
    white-space: nowrap;
    overflow: hidden;
}
@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

@media (max-width: 500px) {
    .contenedor-welcome {
        display: grid;
        max-width: 90%;
        grid-template-columns: 100%;
        margin: 90px auto 0;
        height: calc(100vh - 200px);
        place-content: center;
        gap: 30px;
    }

    .welcome-text {
        text-align: center;
        height: auto;
    }
    .welcome-text >p {
        padding: 0;
        font-size: 20px;
    }
    .welcome-text >h1 {
        font-size: 60px;
    }
    .welcome-text >h2 {
        font-size: 30px;
        margin: 0 auto;
    }
    .welcome-img{
        height: 200px;
    }
    .welcome-img > img{
        height: 100%;
        width: auto;
    }
}

.conteiner-two {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 50%;
}

.conteiner-two>i {
    margin: 0;
    font-size: 50px;
    color: var(--paleta1);
    transition: transform 0.3s;
    cursor: pointer;
}

@keyframes bounceAnimation {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(40px);
    }
}

.conteiner-two>i {
    animation: bounceAnimation 4s infinite;
}

/*! =================================================*/
/*! =================== ABOUT ================== */
/*! =================================================*/
.contenedor-about {
    width: 100%;
    background-color: #Ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/as2.svg);
    background-position: right;
    background-repeat: no-repeat;
}

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.about-text {
    width: 40%;
    padding-right: 25px;
}

.about-text>h2 {
    color: var(--paleta2);
}

.about-text>p {
    color: var(--paleta2);
    font-family: 'Urbanist', sans-serif;
    font-size: 18px;
    margin-top: 15px;
    line-height: 1.4;
}

.about-img {
    width: 40%;
}

.about-img>img {
    width: 100%;
}

.about-button-cv {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.button-1 {
    background-color: var(--paleta3);
    width: 210px;
    height: 60px;
    cursor: pointer;
    border-radius: 60px;
    border: none;
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    position: relative;
    transition: 0.3s ease-in-out;
}

.button-1:active {
    transform: scale(0.9);
}

.button-1:hover {
    background-color: #02a87c;
}

/*! =================================================*/
/*! =================== SKILLS ================== */
/*! =================================================*/
.contenedor-skills {
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    align-items: center;
    justify-content: center;
    margin: 20px auto 20px auto;
    min-width: 100px;

    height: calc(100vh - 200px);
    width: 70%;
    border-bottom: 0;
    border-top: 0;
    border-radius: 30px 30px 30px 30px;
    background-image: url(img/as.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(100px);
    /* Agrega el efecto de desenfoque */
}


.contenedor-skills>h2 {
    color: var(--paleta1);
}

.skills-img {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 0;
    justify-content: center;
}

.img {
    width: 20%;
    position: relative;
}

.img>img {
    width: 100%;
    transition: transform 0.4s;
    cursor: pointer;
}

.img>span {
    position: absolute;
    color: var(--paleta4);
    background-color: var(--paleta1);
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 7px;
    transition: opacity 0.6s ease;
    opacity: 0;
    font-family: 'Encode Sans', sans-serif;
    font-size: 13px;
}

.img>span::after {
    content: "";
    position: absolute;
    left: 50%;
    top: -70%;
    transform: translateX(-50%);
    border: 15px solid;
    border-color: #e40a0a00 #e40a0a00 var(--paleta1) #00000000;
}

.img>img:hover {
    transform: translate(0px, -22px);
}

.img:hover>span {
    opacity: 1;
}